################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*.pdb
*.cache
/Paint/obj/x86/Debug/Paint.csproj.FileListAbsolute.txt
/Paint/obj/x86/Debug/Paint.Form.resources
/Paint/obj/x86/Debug/Paint.Properties.Resources.resources
