################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*.pdb
*.cache
/Paint/obj
/Paint/bin

/ListGen/bin
/ListGen/obj/x86
